.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a192f;
  color: white;
  text-align: center;
}

.home span {
  color: #64ffda;
}

.btn {
  margin-top: 20px;
  background-color: #64ffda;
  padding: 10px 20px;
  border-radius: 8px;
  color: #0a192f;
  text-decoration: none;
  font-weight: bold;
}
